<%- layout("../layouts/boilerplate") %>
<body>

    <form action="/listings/<%=property._id%>" method="post">
        <input type="text" value="<%=property.title%>" name="listing[title]">
        <br><br>
        <textarea name="listing[description]"><%=property.description%></textarea>
        <br><br>
        <input type="text" value="<%=property.price%>" name="listing[price]">
        <br><br>
        <input type="text" value="<%=property.country%>" name="listing[country]">
        <br><br>
        <button>Save</button>
    </form>
</body>
